body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.hdr {
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-right {
  color: #2e2f42;
}
.header-logo {
}
.header-menu-list {
}
.header-menu-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-link {
  color: #2e2f42;
}

.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link:active {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list {
}
.header-address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover {
  color: #404bbf;
}

.header-address-link:focus {
  color: #404bbf;
}

.sec-one {
  background: #2e2f42;
}

.sec-one-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.sec-one-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  color: #ffffff;
}

.sec-one-btn:hover {
  background: #404bbf;
}

.sec-one-btn:focus {
  background: #404bbf;
}

.sec-two {
}
.sec-two-title {
}
.sec-two-list {
}
.sec-two-item {
}

.sec-two-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sec-two-item-hd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sec-three {
  background: #f4f4fd;
}

.sec-three-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.sec-three-list {
}

.sec-three-item {
  background: #fff;
}

.sec-three-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.sec-three-img {
}

.sec-three-hd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.sec-portf {
}
.sec-portf-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.sec-portf-list {
}
.sec-portf-item {
  background: #fff;
}

.sec-portf-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sec-portf-img {
}
.sec-portf-hd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ftr {
  background: #2e2f42;
}

.ftr-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.ftr-right {
  color: #f4f4fd;
}

.ftr-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
